# LISTS

Lists are odered sequences that contain variety of objects.It uses "[]" and are separated by ','.
It supports indexing and slicing.
It can be nested and can have variety of useful methods

In [2]:
my_list=[1,2,3]

In [4]:
my_list=['Anshuj',14,16.7]
my_list

['Anshuj', 14, 16.7]

In [6]:
len(my_list)

3

In [7]:
mylist=['one','two','three']

In [8]:
mylist

['one', 'two', 'three']

In [9]:
mylist[0]   #LIst supports ondexing and slicing the way strings supports

'one'

In [10]:
mylist[1:]

['two', 'three']

In [12]:
#Concatenate List
another_list=['four','five']
new_list=mylist + another_list
new_list

['one', 'two', 'three', 'four', 'five']

In [13]:
#List are mutable meansing unlike strings they can be changed 
new_list

['one', 'two', 'three', 'four', 'five']

In [14]:
#Lets change the list 
new_list[0]='ONE ALL CAPS'

In [15]:
new_list   #Here you can see the list have been modified unlike string hence Lists are mutable

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [16]:
new_list.append('six')  #Add an element to the end of the list

In [17]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [18]:
#to remove element from list we use POP method.POP actually POP's off the element from the end of the list
new_list.pop()

'six'

In [19]:
new_list    #here the last element 'six'have been removed from the list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [20]:
popped_item=new_list.pop()

In [21]:
popped_item

'five'

In [22]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four']

In [23]:
#We can also remove the element from any position .The item at 0th position have been popped as can be seen below
new_list.pop(0)

'ONE ALL CAPS'

In [24]:
new_list

['two', 'three', 'four']

In [26]:
#By defauklt the index location is negative 1(-1)
new_list.pop(-1)

'four'

In [27]:
new_list

['two', 'three']

Sort Method

In [28]:
new_list=['a','e','z','c','r','o']
num_list=[4,1,2,7,9,6,3]

In [30]:
new_list

['a', 'e', 'z', 'c', 'r', 'o']

In [31]:
num_list

[4, 1, 2, 7, 9, 6, 3]

In [32]:
new_list.sort()

In [33]:
new_list

['a', 'c', 'e', 'o', 'r', 'z']

In [34]:
num_list.sort()

In [35]:
num_list

[1, 2, 3, 4, 6, 7, 9]

In [36]:
#You can't assign the sort method with the variable as it will not be taking any value
my_sorted_list=num_list.sort()

In [37]:
my_sorted_list   #It will not return anything and if we check the type it will be showing it as None

In [38]:
type(my_sorted_list)

NoneType

In [41]:
#Instead what we can do is
num_list.sort()
sorted_list=num_list
sorted_list

[1, 2, 3, 4, 6, 7, 9]

In [42]:
#Reverse method in list 
sorted_list.reverse()

In [43]:
sorted_list

[9, 7, 6, 4, 3, 2, 1]