Sets are unordered collection of unique elements,meaning there can be only one representative of the same object.

In [1]:
#Lets create an empty set 
myset=set()

In [2]:
myset

set()

In [3]:
myset.add(1)    #Lets add an element to the set

In [4]:
myset

{1}

In [7]:
#Lets try to add the same element again 
myset.add(1)

In [8]:
myset   #If we see above command it doesn't modify the output ,element 1 when we tried adding it again,it didn't got added to 
#the set

{1}

In [9]:
myset.add(2)
myset

{1, 2}

In [10]:
#We can create a list containing repeated value and can pass it to the set which will create a set with unique values 
my_lst=[1,1,1,1,1,2,3,4,4,4,3,2,3,6]
my_lst

[1, 1, 1, 1, 1, 2, 3, 4, 4, 4, 3, 2, 3, 6]

In [11]:
#Now lets pass the list to the set()
set(my_lst)

{1, 2, 3, 4, 6}

If we see in the above output ,upon passing the multiple values in the list,wehn it is being passed to set it create a set with unique elements.